
@{
    ViewData["Title"] = "ViewDoctor";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@using Data_Model
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> usermanager

    @{
        var userid = usermanager.GetUserId(User);
    }
@model List<Data_Model.Doctor>
<div class="row">
    <div class="col">
    </div>
    <div class="col">
        <form class="d-flex flex-row" method="post" asp-controller="Home" asp-action="ViewDoctor">
            <label for="search" class="mx-2 my-1"> Search</label>
            <input class="form-control me-sm-2" type="search" name="search" value="@ViewBag.Search" placeholder="Search for Doctor">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</div>

<hr />

<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phonenumber</th>
        <th>Specialize</th>
    </thead>
    <tbody>
        @foreach (var doctor in Model)
        {
            <tr>
                <td>@doctor.id</td>
                <td><a asp-controller="Home" asp-action="DoctorDetail" asp-route-id="@doctor.id">@doctor.FullName</a></td>
                <td>@doctor.Email</td>
                <td>@doctor.PhoneNumber</td>
                <td>@doctor.Specialize</td>
            </tr>
        }
    </tbody>
</table>
<hr />
<div class="row row-striped">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"><a class="btn btn-primary" asp-controller="Home" asp-action="CustomerView">Back</a></div>
</div>
<hr />



